section.section.container 
  - locals.sectionTitle = 'Mehr zu unserem Restaurant'
  - locals.left = 'true'
  include ../blocks/section-heading
  .accordion
    .accordion__item 
      button.accordion__button(type="button")
        h2.accordion__heading
          span.accordion__title Koch für ein Restaurant mit Kegelbahn (m/w/d)
            span.accordion__arrow
              svg(width="32" height="32")
                use(xlink:href="sprite.svg#accordion-arrow_sprite") 
      .accordion__content
        .accordion__body
          p Es gibt viele Fischrestaurants in Hamburg – das ‘am kai’ ist jedoch einzigartig. Die einmalige Lage direkt an der Elbe und der – besonders bei Sonnenuntergang – atemberaubende Ausblick auf das glitzernde Wasser sind nur ein Grund dafür, dass Ihr Besuch im ‚am kai‘ zum besonderen Erlebnis wird. Je nach Anzahl der Personen reservieren wir für Sie entweder einzelne Räume , wie die
          ul
            li Glory Lounge
            li das Separée
            li unseren Wintergarten mit angrenzender Terrasse
            li oder die gesamte Location.
          p Eine stylische Einrichtung, faszinierende Raumbeleuchtung und modernste Multimediatechnik lassen nahezu jedes Event in unserem Szene Restaurant Hamburg möglich werden.
    .accordion__item 
      button.accordion__button(type="button")
        h2.accordion__heading
          span.accordion__title Koch für ein Restaurant mit Kegelbahn (m/w/d)
            span.accordion__arrow
              svg(width="32" height="32")
                use(xlink:href="sprite.svg#accordion-arrow_sprite") 
      .accordion__content
        .accordion__body
          p Es gibt viele Fischrestaurants in Hamburg – das ‘am kai’ ist jedoch einzigartig. Die einmalige Lage direkt an der Elbe und der – besonders bei Sonnenuntergang – atemberaubende Ausblick auf das glitzernde Wasser sind nur ein Grund dafür, dass Ihr Besuch im ‚am kai‘ zum besonderen Erlebnis wird. Je nach Anzahl der Personen reservieren wir für Sie entweder einzelne Räume , wie die
          ul
            li Glory Lounge
            li das Separée
            li unseren Wintergarten mit angrenzender Terrasse
            li oder die gesamte Location.
          p Eine stylische Einrichtung, faszinierende Raumbeleuchtung und modernste Multimediatechnik lassen nahezu jedes Event in unserem Szene Restaurant Hamburg möglich werden.
    .accordion__item 
      button.accordion__button(type="button")
        h2.accordion__heading
          span.accordion__title Koch für ein Restaurant mit Kegelbahn (m/w/d)
            span.accordion__arrow
              svg(width="32" height="32")
                use(xlink:href="sprite.svg#accordion-arrow_sprite") 
      .accordion__content
        .accordion__body
          p Es gibt viele Fischrestaurants in Hamburg – das ‘am kai’ ist jedoch einzigartig. Die einmalige Lage direkt an der Elbe und der – besonders bei Sonnenuntergang – atemberaubende Ausblick auf das glitzernde Wasser sind nur ein Grund dafür, dass Ihr Besuch im ‚am kai‘ zum besonderen Erlebnis wird. Je nach Anzahl der Personen reservieren wir für Sie entweder einzelne Räume , wie die
          ul
            li Glory Lounge
            li das Separée
            li unseren Wintergarten mit angrenzender Terrasse
            li oder die gesamte Location.
          p Eine stylische Einrichtung, faszinierende Raumbeleuchtung und modernste Multimediatechnik lassen nahezu jedes Event in unserem Szene Restaurant Hamburg möglich werden.
    .accordion__item 
      button.accordion__button(type="button")
        h2.accordion__heading
          span.accordion__title Koch für ein Restaurant mit Kegelbahn (m/w/d)
            span.accordion__arrow
              svg(width="32" height="32")
                use(xlink:href="sprite.svg#accordion-arrow_sprite") 
      .accordion__content
        .accordion__body
          p Es gibt viele Fischrestaurants in Hamburg – das ‘am kai’ ist jedoch einzigartig. Die einmalige Lage direkt an der Elbe und der – besonders bei Sonnenuntergang – atemberaubende Ausblick auf das glitzernde Wasser sind nur ein Grund dafür, dass Ihr Besuch im ‚am kai‘ zum besonderen Erlebnis wird. Je nach Anzahl der Personen reservieren wir für Sie entweder einzelne Räume , wie die
          ul
            li Glory Lounge
            li das Separée
            li unseren Wintergarten mit angrenzender Terrasse
            li oder die gesamte Location.
          p Eine stylische Einrichtung, faszinierende Raumbeleuchtung und modernste Multimediatechnik lassen nahezu jedes Event in unserem Szene Restaurant Hamburg möglich werden.