nav.archon-nav 
  .archon-nav__inner.container
    .archon-nav__item 
      a.archon-nav__link(href="#benefits") Ihre Benefits 
    .archon-nav__item 
      a.archon-nav__link(href="#facts") Keyfacts
    .archon-nav__item 
      a.archon-nav__link(href="#vacancy") Aktuelle Stellen