section.section.section--m.container 
  .chess-grid 
    .chess-grid__item 
      picture.chess-grid__image
        img(src=require('@/images/chess-grid/1.jpg'), alt="")
      .chess-grid__text 
        h2.chess-grid__title Alle Wege führen 
          span zum Kai
        .chess-grid__desc
          p Dort, wo moderne Architektur auf den pulsierenden Containerhafen Hamburgs trifft, empfängt Sie unser Fischrestaurant “am kai” mit der multikulturellen Einrichtung und Dekoration. 
          p Erleben Sie den grandiosen Elbblick aus unserem Restaurant und auf unserer großzügigen Terrasse.
        a.chess-grid__link(href="") Zum Restaurant
    .chess-grid__item 
      picture.chess-grid__image
        img(src=require('@/images/chess-grid/2.jpg'), alt="")
      .chess-grid__text 
        h2.chess-grid__title 
          span  Genießen Sie
          | unsere kreative Küche
        .chess-grid__desc
          p Das "am kai" ist ein Ort der Gaumenfreuden, wo zeitgenössische Leichtigkeit auf kulinarische Tradition trifft. Wir verwöhnen Sie mit Fischspezialitäten, Austern, Hummer, Fleischgerichten und vegetarischen Köstlichkeiten. 
          p Die frischen Zutaten und regionalen Produkte verleihen unseren saisonalen Gerichten einen unvergleichlichen Geschmack und lassen das Herz jedes Feinschmeckers höher schlagen. 
        a.chess-grid__link(href="")  Zu unserem Menü
    .chess-grid__item 
      picture.chess-grid__image
        img(src=require('@/images/chess-grid/3.jpg'), alt="")
      .chess-grid__text 
        h2.chess-grid__title Alle Wege führen 
          span zum Kai
        .chess-grid__desc
          p Dort, wo moderne Architektur auf den pulsierenden Containerhafen Hamburgs trifft, empfängt Sie unser Fischrestaurant “am kai” mit der multikulturellen Einrichtung und Dekoration. 
          p Erleben Sie den grandiosen Elbblick aus unserem Restaurant und auf unserer großzügigen Terrasse.
        .chess-grid__award.chess-award 
          .chess-award__content 
            p.chess-award__text Wir sind Testsieger des Gastro-Preises "Genuss-Michel 2023" in der Kategorie “Fisch-Restaurant”
            a.chess-award__link(href="") Mehr erfahren
              svg(width="20" height="20")
                use(xlink:href="sprite.svg#arrow-slider-r_sprite")
          picture.chess-award__image
            img(src=require('@/images/award.svg'), alt="")

        a.chess-grid__link(href="")  Zu den Räumlichkeiten
