section.section.section--s.container 
  .content-block
    .content-block__text 
      h3.content-block__title Arbeiten in Hamburg:
        span  Gastronomie par Excellence
      .content-block__desc 
        p Die Stadt wirkt hier am Hafen wie ein kreativer Hubspot – Hamburg ist schon vielbesungen und vielbeschrieben. Wir finden einfach: Es ist äußerst liebens- und lebenswert hier – und für uns der schönste Platz der Welt!
        p Gastronomie Jobs Hamburg – bei uns immer gerne anheuern. Mit 80 Plätzen hat man im Restaurant “am kai” immer das Gefühl einer intimen Atmosphäre; außer natürlich bei uns steigt eines unserer großen Events! Dann ist “Gott und die Welt” bei uns zu Gast “am kai”. Unsere Küche ist bekannt für ihre spannenden Seafood Kreationen und das Restaurant dafür, dass wir uns seit 20 Jahren immer wieder neu erfinden. Genau wie der Hafen, sind wir also immer in Bewegung.
    picture.content-block__image
      img(src=require('@/images/content.jpg'), alt="")