section.cta-restaurant
    .container 
        .cta-restaurant__container 
            .cta-restaurant__content
                .cta-restaurant__content-top
                    h3.cta-restaurant__content-title Kennen Sie schon 
                        span.text-accent unsere Eventlocation?
                    p.cta-restaurant__content-subtitle In angesagter Lage, direkt mit Elbblick bietet unsere Eventlocation in Hamburg die passenden Räume für jedes Event.
                .cta-restaurant__content-btn 
                    a.cta-restaurant__moreBtn Mehr erfahren
            .cta-restaurant__image 
                img(src=require("@/images/restaurant/cta-restaurant.jpg") alt="CTA image")