section.section.section--l-bottom
	.cta-res
		picture.cta-res__background
			img(src=require('@/images/cta-res.jpg'), alt="")
		.container
			.cta-res__text
				h3.cta-res__title Restaurant des Jahres - am kai
				p.cta-res__desc Dieses Jahr sind wir der Testsieger des Gastro-Preises "Genuss-Michel 2023" in der Kategorie "Fisch“.Zudem sind wir unter den Top 3 in der Nominierung „Restaurant des Jahres“. Darauf sind wir wahnsinnig stolz und genießen diesen Erfolg!
				button.cta-res__button.btn.btn--primary Video ansehen
				.cta-res__logo
					img(src=require('@/images/cta-res-logo.svg'), alt="")