section.desc-restaurant 
    .container
        .desc-restaurant__container 
            .desc-restaurant__text 
                h2.desc-restaurant__title am kai ist: Au Quai, neu übersetzt
                p.desc-restaurant__subtitle Dort, wo moderne Architektur auf den pulsierenden Containerhafen Hamburgs trifft, empfängt Sie unser Fischrestaurant “am kai” mit der multikulturellen Einrichtung und Dekoration und einer an ein Schiffsdeck erinnernden Terrasse.
            .desc-restaurant__picture--container
                .desc-restaurant__picture 
                    img(src=require("@/images/restaurant/restaurant-staff.jpg") alt="Our team")
            p.desc-restaurant__content „am kai“ ist übersetzt „Au Quai“ und bedeutet für die Geschwister Caressa die Symbiose von Klasse und Modernität. Schon seit jeher ist der Standort des Restaurants "am kai" von einer besonderen Magie umgeben. Dabei verkörpert dieser Ort viel mehr als ein gewöhnliches Fischrestaurant ander Elbe in Hamburg.<br><br>
                | Eine ausgesuchte Einrichtung aus aller Welt erwartet Sie in unserem Restaurant mit Elbblick, dazu köstlichen Spezialitäten und unsere unvergleichliche Atmosphäre, die von unserem warmherzigen, international ausgerichteten Team ausgestrahlt wird. Einfach bei uns ankommen und wohlfühlen! 
