section.section.equipment 
    .container 
        .equipment-inner 
            h2.equipment__title Equipment
            .equipment__tabs   
                button.equipment__tab.tab-btn.active(data-tab='1') Beleuchtung
                button.equipment__tab.tab-btn(data-tab='2') Ton
                button.equipment__tab.tab-btn(data-tab='3') Präsentation
            .equipment__content.tab-content.active(data-tab='1')
                .equipment__list 
                    .equipment__item
                        h4 Große Bühne
                        p 4 x TS 60 W RGBW WH / Für Bühnenbeleuchtung
                    .equipment__item
                        h4 Kleine Bühne
                        p 5 x Showtec Phantom 75 Spot LED Moving Head / Profiler 2 x Laser für atmosphärische Beleuchtung (Decke)
                    .equipment__item
                        h4 Bar
                        p 1 x Showtec Phantom 75 Spot LED Moving Head / Profiler Wintergarten 2 x Showtec Phantom 75 Spot LED Moving Head / Profiler 3 x Spiegelkugeln
            .equipment__content.tab-content(data-tab='2')
                .equipment__list 
                    .equipment__item
                        h4 Große Bühne 2
                        p 4 x TS 60 W RGBW WH / Für Bühnenbeleuchtung
                    .equipment__item
                        h4 Kleine Bühne
                        p 5 x Showtec Phantom 75 Spot LED Moving Head / Profiler 2 x Laser für atmosphärische Beleuchtung (Decke)
                    .equipment__item
                        h4 Bar
                        p 1 x Showtec Phantom 75 Spot LED Moving Head / Profiler Wintergarten 2 x Showtec Phantom 75 Spot LED Moving Head / Profiler 3 x Spiegelkugeln
            .equipment__content.tab-content(data-tab='3')
                .equipment__list 
                    .equipment__item
                        h4 Große Bühne 3
                        p 4 x TS 60 W RGBW WH / Für Bühnenbeleuchtung
                    .equipment__item
                        h4 Kleine Bühne
                        p 5 x Showtec Phantom 75 Spot LED Moving Head / Profiler 2 x Laser für atmosphärische Beleuchtung (Decke)
                    .equipment__item
                        h4 Bar
                        p 1 x Showtec Phantom 75 Spot LED Moving Head / Profiler Wintergarten 2 x Showtec Phantom 75 Spot LED Moving Head / Profiler 3 x Spiegelkugeln