section.facts-restaurant
    .container
        .facts-restaurant__container
            .facts-restaurant__desktop 
                .facts-restaurant__item
                    svg(width='36' height='36')
                        use(href='sprite.svg#facts-star_sprite')
                    span Fakten zum Restaurant <br>“am kai”
                .facts-restaurant__item
                    svg(width='36' height='36')
                        use(href='sprite.svg#facts-star_sprite')
                    span Fakten zum Restaurant <br>“am kai”
                .facts-restaurant__item
                    svg(width='36' height='36')
                        use(href='sprite.svg#facts-star_sprite')
                    span Fakten zum Restaurant <br>“am kai”
                .facts-restaurant__item
                    svg(width='36' height='36')
                        use(href='sprite.svg#facts-star_sprite')
                    span Fakten zum Restaurant <br>“am kai”
    .facts-restaurant__slider.swiper.facts-restaurant__mobile
        .swiper-wrapper
            .swiper-slide
                .facts-restaurant__item
                    svg(width='36' height='36')
                        use(href='sprite.svg#facts-star_sprite')
                    span Fakten zum Restaurant “am kai”
            .swiper-slide
                .facts-restaurant__item
                    svg(width='36' height='36')
                        use(href='sprite.svg#facts-star_sprite')
                    span Fakten zum Restaurant “am kai”
            .swiper-slide
                .facts-restaurant__item
                    svg(width='36' height='36')
                        use(href='sprite.svg#facts-star_sprite')
                    span Fakten zum Restaurant “am kai”
            .swiper-slide
                .facts-restaurant__item
                    svg(width='36' height='36')
                        use(href='sprite.svg#facts-star_sprite')
                    span Fakten zum Restaurant “am kai”

