section.section.section--m.container#facts
  - locals.sectionTitle = 'Fakten zu unserem Restaurant'
  include ../blocks/section-heading
  -
    var facts = [
      {
        title:'Direkt an der Elbe'
      },
      {
        title: 'Familiengeführtes Unternehmen'
      },
      {
        title: 'Flache Hierachien und gute Entfaltungs- und Aufstiegsmöglichkeiten'
      },
      {
        title:'Moderne Seafood Küche mit Einflüssen aus aller Welt'
      },
      {
        title:'Arbeiten mit Wohlfühlatmosphäre'
      },
      {
        title:'Weinkarte mit über 80 Positionen, Bar mit tollen Drinks'
      }
    ]
  .facts 
    each val,index in facts 
      .facts__item 
        .facts__icon 
          img(src=require(`@/images/facts/${index + 1}.svg`), alt="")
        h5.facts__title= val.title