section.section.section--m.container 
  - locals.sectionTitle = '“am kai” Impressionen '
  - locals.left = true
  include ../blocks/section-heading
  .gallery-grid 
    each val in [1,2,3,4,5,6,7]
      .gallery-grid__item
        picture.gallery-grid__image 
          img(src=require(`@/images/gallery-grid/${val}.jpg`), alt="")