section.section.gesamte-keyfacts
      .container.gesamte-keyfacts__container
        h2.gesamte-keyfacts__heading
          | Die 
          span.gesamte-keyfacts__heading-yellow Keyfacts
        |         
        p.gesamte-keyfacts__desc
          | Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll W&ouml;rter nahm und diese durcheinander warf um ein Musterbuch zu erstellen.
        |         
        ul.gesamte-keyfacts__ul
          li.gesamte-keyfacts__li
            h6.gesamte-keyfacts__li-title Für jeden Anlass
            |              
            p.gesamte-keyfacts__li-desc Fakten zur Organisation von Veranstaltungen
          |        
          li.gesamte-keyfacts__li
            h6.gesamte-keyfacts__li-title Für jeden Anlass
            |              
            p.gesamte-keyfacts__li-desc Unsere Eventlocation in Hamburg
          |
          li.gesamte-keyfacts__li
            h6.gesamte-keyfacts__li-title Für jeden Anlass
            |              
            p.gesamte-keyfacts__li-desc Wir freuen uns auf Ihre Event-Anfrage!
           
          
