section.section.gesamte-location
  .container.gesamte-location__container
    h2.gesamte-location__title
      | Location Plan
    |         
    .gesamte-location__image
      img(src=require("@/images/gesamte-location.jpg") alt="Gesamte Location")
    |         
    .gesamte-location__buttons
      button.gesamte-location__button.gesamte-location__first-btn.main-btn.active
        img(src=require("@/icons/play.svg") alt="play")
        | VIdeo anchauen
      |             
      button.gesamte-location__button.gesamte-location__second-btn.main-btn
        img(src=require("@/icons/3d-modeling.svg") alt="3d-modeling")
        |  zur 3d Tour
