section.section.gesamte-companies
  .container.gesamte-companies__container
    h2.gesamte-companies__title
      | Folgende Unternehmen vertrauen uns bei ihren Großveranstaltungen
    |           
    ul.gesamte-companies__ul
      li.gesamte-companies__company
        img(src=require("@/images/companies/airbus-logo.png") alt="airbus")
      |
      li.gesamte-companies__company
        img(src=require("@/images/companies/mpc-logo.png") alt="mpc")
      | 
      li.gesamte-companies__company
        img(src=require("@/images/companies/montblanc-logo.png") alt="montblanc")
      |
      li.gesamte-companies__company
        img(src=require("@/images/companies/initiative-logo.png") alt="initiative")
      

