section.section.hero-impressionen
    .hero-impressionen__content
        .hero-impressionen__content-picture 
            img(src=require('@/images/hero/hero-impressionen.jpg'))
        .hero-impressionen__content-row
            p.hero-impressionen__row-title Kreative aber sehr passende Kombinationen
            p.hero-impressionen__row-title Das Essen ist ist fantastisch
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title Sehr gute Qualität
            p.hero-impressionen__row-title.hoverable Eine gehobene Küche
            p.hero-impressionen__row-title Kaffemaschine
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title Sehr leckeres und liebevolles essen
            p.hero-impressionen__row-title Außergewöhnlich gutes Essen
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title.hoverable Die schöne Lage an der Elbe
            p.hero-impressionen__row-title Gaumenfreude
            p.hero-impressionen__row-title Reservierung
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title Lecker und sehr raffiniert
            p.hero-impressionen__row-title.hoverable Ein super tolles Team
            p.hero-impressionen__row-title Hauptgericht
    .hero-impressionen__action
        a(href="")
            button.btn.hero-impressionen__action-btn Alle Bewertungen