section.section-hero 
  .hero
    picture.hero__image 
      img(src=require('@/images/hero/jobs.jpg'), alt="")
    .container.hero__text-wrapper
      .hero__text
        h1.hero__title  Jobs mit guten Aussichten
        h1.hero__desc  Auf zu neuen Ufern: Dein Arbeitsplatz direkt am Elbufer, mit offenem Blick auf den Hafen. Wir freuen uns auf deine Bewerbung!