section.section.hero-impressionen
    .hero-impressionen__content
        .hero-impressionen__content-picture 
            img(src=require('@/images/hero/hero-impressionen.jpg'))
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title Speisekarte
            p.hero-impressionen__row-title.hoverable Kellner
            p.hero-impressionen__row-title Tischdecke
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title Kellnerin
            p.hero-impressionen__row-title.hoverable Besteck
            p.hero-impressionen__row-title Bar
            p.hero-impressionen__row-title Kaffeemaschine
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title Bistro
            p.hero-impressionen__row-title Kaffeetasse
            p.hero-impressionen__row-title.hoverable Empfang
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title.hoverable Dessert
            p.hero-impressionen__row-title Reservierung
            p.hero-impressionen__row-title Koch
        .hero-impressionen__content-row 
            p.hero-impressionen__row-title Weinkarte
            p.hero-impressionen__row-title.hoverable Vorspeise
            p.hero-impressionen__row-title Hauptgericht
    .hero-impressionen__action 
        button.btn.hero-impressionen__action-btn Alle Bewertungen