section.hero-restaurant
    .hero-restaurant__container
        picture.hero-restaurant__image
            img(src=require("@/images/restaurant/hero-restaurant.jpg") alt="Hero Restaurant")
        .hero-restaurant__content 
            h1.hero-restaurant__content-title Restaurant
            .hero-restaurant__content-action 
                button Tischreservierung
