section.hero-secondary-section 
  .hero-secondary
    header.hero-secondary__header.container
      h1.hero-secondary__title So weltoffen, wie
        span Hamburg selbst
      p.hero-secondary__desc Dort, wo fangfrisch die Meerestiere eintreffen, haben wir ein modernes Ambiente geschaffen.
    .hero-secondary__slider.swiper 
      .swiper-wrapper 
        each val in [1,1,1,1,1]
          .swiper-slide
            picture.hero-secondary__picture 
              img.hero-secondary__img(src=require('@/images/slider.jpg') alt="hero-secondary-1")
      .slider-navigation.slider-navigation--hero.container 
        .slider-navigation__prev
          svg(width='24' height='24')
            use(href='sprite.svg#arrow-slider-l_sprite')
        .slider-navigation__next 
          svg(width='24' height='24')
            use(href='sprite.svg#arrow-slider-r_sprite')