section.impressionen-restaurant 
    .container 
        .impressionen-restaurant__container
            .impressionen-restaurant__text
                h2.impressionen-restaurant__title am kai<br>
                    | Impressionen 
                button.impressionen-restaurant__link 
                    a(href="/impressionen.html") Mehr Impressionen 
                    svg(width='30' height='30')
                        use(href='sprite.svg#arrow-next_sprite')
            .impressionen-restaurant__picture--container
                picture.impressionen-restaurant__picture
                    img(src=require("@/images/restaurant/restaurant-staff.jpg") alt="Our staff")
            picture.impressionen-restaurant__image
                img(src=require("@/images/restaurant/restaurant-preparation.jpg") alt="Meal preparation")
