section.section.section--l-top.container 
  .index-info 
    h2.index-info__title Seafood Restaurant "am kai" - wo 
      span Gourmet-Genuss 
      | und 
      span maritime Aussicht 
      | verschmelzen.
    .index-info__desc 
      p Das "am kai" lädt Sie ein, auf eine kulinarische Entdeckungsreise durch die mediterrane und asiatisch inspirierte Küche zu gehen. Mit unmittelbarem Blick auf das Dockland und den Hamburger Hafen werden Sie von kulinarischen Überraschungen und einzigartigem Interieur aus aller Welt begrüßt. 
