section.section.location-event 
    .container 
        .location-event__list 
            .location-event__item.with-content
                h6 Für jeden Anlass
                h4 Unsere Eventlocation
                    span  in Hamburg 
                p Wir richten Ihre Veranstaltung nach persönlichen Wünschen und individuellen Bedürfnissen aus. Unser modernes Konzept und ein beeindruckendes Ambiente machen jeden Anlass unvergesslich.

                .location-event__item-footer 
                      button.main-btn.active
                        svg(width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            g(clip-path='url(#clip0_7199_7660)')
                            path(d='M3.26562 20.6113H21.7393' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M3.5 15.2559C3.5 10.2853 7.52944 6.25586 12.5 6.25586C17.4706 6.25586 21.5 10.2853 21.5 15.2559V17.0869C21.5 17.4189 21.2309 17.688 20.8989 17.688H4.10112C3.76913 17.688 3.5 17.4189 3.5 17.0869V15.2559Z' stroke='white' stroke-width='1.5')
                            path(d='M12.5 6.24311V3.38867' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M9.9595 3.38867L15.043 3.38867' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            defs
                            clippath#clip0_7199_7660
                                rect(width='24' height='24' fill='white' transform='translate(0.5)')
                        span Jetzt anfragen
                        
                      button.main-btn
                        svg(width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            g(clip-path='url(#clip0_7199_7660)')
                            path(d='M3.26562 20.6113H21.7393' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M3.5 15.2559C3.5 10.2853 7.52944 6.25586 12.5 6.25586C17.4706 6.25586 21.5 10.2853 21.5 15.2559V17.0869C21.5 17.4189 21.2309 17.688 20.8989 17.688H4.10112C3.76913 17.688 3.5 17.4189 3.5 17.0869V15.2559Z' stroke='white' stroke-width='1.5')
                            path(d='M12.5 6.24311V3.38867' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M9.9595 3.38867L15.043 3.38867' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            defs
                            clippath#clip0_7199_7660
                                rect(width='24' height='24' fill='white' transform='translate(0.5)')
                        span Jetzt anfragen

            a.location-event__item(href="#")
                picture.gallery-grid__image 
                    img(src=require(`@/images/location-event/1.jpg`), alt="")

                .location-event__item-content 
                    h5 am kai Club 100-400 Personen
                    span Mehr erfahren
            a.location-event__item(href="#")
                picture.gallery-grid__image 
                    img(src=require(`@/images/location-event/2.jpg`), alt="")

                .location-event__item-content 
                    h5 am kai Club 100-400 Personen
                    span Mehr erfahren
            a.location-event__item(href="#")
                picture.gallery-grid__image 
                    img(src=require(`@/images/location-event/3.jpg`), alt="")

                .location-event__item-content 
                    h5 am kai Club 100-400 Personen
                    span Mehr erfahren
            a.location-event__item(href="#")
                picture.gallery-grid__image 
                    img(src=require(`@/images/location-event/4.jpg`), alt="")

                .location-event__item-content 
                    h5 am kai Club 100-400 Personen
                    span Mehr erfahren
                

                    

