section.owner-quote 
    .container 
        .owner-quote__container
            picture.owner-quote__picture
                img.owner-quote__image(src=require('@/images/restaurant/restaurant-owner.png') alt="Enzo Caressa")
            .owner-quote__content
                .owner-quote__top
                    svg(width='48' height='48')
                        use(href='sprite.svg#quote-icon_sprite')
                    h3.owner-quote__text 
                        | Essen ist für mich pure Emotion. Wenn ich etwas probiere, soll meine erste Reaktion WOW sein! Und das Erleben möchte ich mit den Menschen teilen, genießen und ausflippen. Ich wünsche mir, dass alle Gäste ihre Erfahrung mit uns teilen., egal ob begeistert oder vielleicht auch mal nicht so zufrieden. Auch das wollen wir ehrlich wissen, denn so können wir etwas für Sie tun.
                p.owner-quote__position Enzo Caressa / Inhaber vom „am kai“
