section.section.section--m.container
  .page-content 
    section
      h2 Dein Profil:
      ul
        li Begeisterung für moderne, innovative Küche
        li Abgeschlossene Ausbildung
        li Fundierte Berufserfahrung in vergleichbarer Position
        li Hohe Einsatzbereitschaft, Belastbarkeit und Flexibilität
        li Hohe soziale Kompetenz und Teamfähigkeit
        li Service- und gästeorientiertes Denken
        li Vorausschauende, zielgerichtete und effiziente Arbeitsweise
    section 
      h2 Wir wünschen uns
      ul 
        li Du bist ein Teamplayer mit dem Herz am richtigen Fleck
        li Du bist ein Teamplayer mit dem Herz am richtigen Fleck
        li Du bist ein Teamplayer mit dem Herz am richtigen Fleck
        li Du bist ein Teamplayer mit dem Herz am richtigen Fleck
        li Du bist ein Teamplayer mit dem Herz am richtigen Fleck
        li Du bist ein Teamplayer mit dem Herz am richtigen Fleck
        li Du bist ein Teamplayer mit dem Herz am richtigen Fleck
        li Du bist ein Teamplayer mit dem Herz am richtigen Fleck
    section 
      h2 Wir bieten
      ul 
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.
        li Eine besondere Herausforderung in einem außergewöhnlichen Arbeitsumfeld mit einem motivierten, professionellen Team.