section.section.post-hero-section.container 
  .post-hero 
    .post-hero__text 
      a.post-hero__back(href="")
        svg(width="24" height="24")
          use(xlink:href="sprite.svg#back_sprite") 
        | Zurück zur Übersichtsseite 
      h1.post-hero__title Chef de Partie (m/w/d)
      p.post-hero__desc Dann werden Sie Teil des am kai Teams. Zur Verstärkung unseres engagierten und motivierten Teams suchen wir eine/n Chef de Partie (m/w/d) in Vollzeit.
      .post-hero__button-group 
        a.post-hero__btn.btn.btn--primary(href="#vacancy-form")
          span.btn__inner
            svg(width="24" height="24")
              use(xlink:href="sprite.svg#plus_sprite") 
            span Jetzt bewerben
        button.post-hero__btn.btn.btn--gray 
          span.btn__inner 
            svg(width="24" height="24")
              use(xlink:href="sprite.svg#upload_sprite") 
            span Teilen
    picture.post-hero__image 
      img(src=require('@/images/post-hero.jpg'), alt="")

