section.section.section--l.container#vacancy 
  - locals.left = true
  - locals.sectionTitle = 'Aktuelle Stellenangebote'
  include ../blocks/section-heading
  -
    var vacancy = [
      {
        title: 'Chef de Partie (m/w/d)',
        desc: 'Vollzeit'
      },
      {
        title: 'Chef de Partie (m/w/d)',
        desc: 'Vollzeit'
      },
      {
        title: 'Chef de Partie (m/w/d)',
        desc: 'Vollzeit'
      },

    ]
  .vacancy-list
    each val,index in vacancy
      .vacancy-list__item
        picture.vacancy-list__image
          img(src=require(`@/images/vacancy/${index + 1}.jpg`) alt="")
        .vacancy-list__info
          h6.vacancy-list__title= val.title
          p.vacancy-list__desc= val.desc
          a.vacancy-list__link(href="#")  Mehr erfahren