section.video-section 
  .video
    .video__play.js-play-video
      span Zum Imagevideo
      svg(width="24" height="24")
        use(xlink:href="sprite.svg#play_sprite") 
    video.video__src(poster=require('@/images/poster.jpg'))
      source(src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4")