.about-inner {
  display: flex;
  gap: 165px;

  .about-left {

    h2 {
      font-size: 40px;
      font-weight: 300;

      span {
        font-weight: 400;
        color: var(--gold-color);
      }

      @media (max-width: 769px) {
        font-size: 32px;
        font-weight: 400;
        color: #fff !important;
      }
    }

    .about-left__text-wrapper  {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        @media(max-width: 769px) {
            margin-top: 36px;
        }

        .about-left__text {
            font-size: 20px;
            line-height: 140%;

            @media(max-width: 769px) {
                font-size: 16px;
            }
        }

        .counts {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            @media(max-width: 769px){ 
                gap: 18px;
            }

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 125%;
                color: rgba(255, 255, 255, 0.5);
                
                span {
                    color: #fff;
                }
            }
        }

        .google-link {
            display: flex;
            align-items: center;
            max-width: 340px;
            gap: 16px;
            justify-content: space-between;
        }
    }

    .about__videos {
        margin-top: 80px;

        @media(max-width: 769px) {
            margin-top: 24px;
        }

        .about__videos-text {
            font-size: 14px;
            margin-bottom: 24px;

            @media(max-width: 769px) {
                margin-bottom: 16px;
            }
        }

        .about__videos-list {
            display: flex;
            gap: 16px;
        }
    }
  }
}

.about__videos-item {
    position: relative;
    transition: all 0.2s ease;

    .about__videos-item--hover {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;

        img {
            cursor: pointer;
        }

        p {
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            text-align: center; 
            width: 100%;
        }
    }

    &:hover .about__videos-item--hover {
        opacity: 1;
    }
}