@use '../utils/mixins' as *;

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;

  &__fake {
    display: block;

    width: 20px;
    height: 20px;
    margin-right: 12px;

    border: 1px solid var(--white-color);
  }

  &__desc {
    p {
      display: inline;
    }
  }

  &__input {
    position: absolute;

    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    border: 0;

    &:checked {
      ~ .checkbox__fake {
        background: url('@/images/check.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 11px;
      }
    }
  }
}
