@use '../utils/mixins' as *;

.content-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 32px;
    font-size: rem(40px);
    line-height: 125%;

    span {
      color: var(--gold-color);
    }
  }

  &__desc {
    padding-right: 40px;
    font-weight: 300;
    color: var(--gray-color);

    p {
      line-height: 150%;
    }
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
