@use '../utils/mixins' as *;

.features-block {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.features-grid {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 30px;

  &__item {
    display: flex;
  }

  &__icon {
    flex: none;
    width: 24px;
    height: 24px;
    margin-right: 16px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 12px;
    line-height: 150%;
  }

  &__desc {
    font-weight: 300;
    line-height: 150%;
    color: var(--black-50);
  }
}

.features {
  &__title {
    @include media(md) {
      margin-bottom: 40px;
      font-size: rem(32px);
    }

    margin-bottom: 60px;
    font-size: rem(40px);
  }
}
