@use '../utils/mixins' as *;

.feedback {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #0b1820;

  &__container {
    overflow: hidden;
  }

  @include media(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: Lora;
    display: flex;
    justify-content: center;
    width: 50%;
    color: var(--white-color);
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    opacity: 0.6;
    margin-bottom: 100px;

    @include media(md) {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 40px;
    }
  }

  &__content {
    &-first {
      position: relative;
      height: 1060px;

      @include media(lg) {
        height: 710px;
      }
      @include media(sm) {
        height: 350px;
      }
    }
    &-second {
      position: relative;
      height: 1225px;

      @include media(lg) {
        height: 710px;
      }
      @include media(sm) {
        height: 500px;
      }
    }
    &-third {
      position: relative;
      height: 1080px;

      @include media(lg) {
        height: 710px;
      }
      @include media(sm) {
        height: 630px;
      }
    }
    &-fourth {
      position: relative;
      height: 1200px;

      @include media(lg) {
        height: 710px;
      }
      @include media(sm) {
        height: 500px;
      }
    }
  }

  &__first {
    &-text {
      position: absolute;
      top: 1%;
      right: 10%;
      width: 426px;
      height: 96px;
      color: var(--white-color);
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;

      @include media(xl) {
        right: 0;
      }

      @include media(lg) {
        top: 80%;
        right: 15%;
        z-index: 2;
        text-align: center;
      }

      @include media(md) {
        font-size: 16px;
        line-height: 20px;
      }

      @include media(sm) {
        width: 23ch;
        top: 70%;
        right: 25%;
      }

      @media (max-width: 420px) {
        top: 75%;
        right: 15%;
      }
    }
    &-one {
      position: absolute;
      top: 1%;
      width: 660px;
      height: 750px;

      @include media(lg) {
        left: 10%;
        width: 420px;
        height: 477px;
      }
      @include media(sm) {
        left: 20%;
        width: 200px;
        height: 230px;
      }

      @media (max-width: 420px) {
        left: 0;
        width: 200px;
        height: 230px;
      }
    }

    &-two {
      position: absolute;
      bottom: 10%;
      right: 7%;
      width: 660px;
      height: 750px;

      @include media(lg) {
        right: 10%;
        width: 420px;
        height: 477px;
      }
      @include media(sm) {
        top: 20%;
        right: 20%;
        width: 200px;
        height: 230px;
      }
      @media (max-width: 420px) {
        right: 1%;
        width: 200px;
        height: 230px;
      }
    }
  }
  &__second {
    &-text {
      position: absolute;
      bottom: 19%;
      left: 5%;
      width: 364px;
      height: 96px;
      color: var(--white-color);
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      z-index: 2;
      height: min-content;

      @include media(xl) {
        right: 0;
      }

      @include media(lg) {
        top: 55%;
        right: 15%;
        z-index: 2;
        text-align: center;
      }

      @include media(md) {
        font-size: 16px;
        line-height: 20px;
      }

      @include media(sm) {
        width: 28ch;
        top: 90%;
        right: 25%;
      }

      @media (max-width: 420px) {
        right: -5%;
      }
    }
    &-one {
      position: absolute;
      top: 14%;
      width: 428px;
      height: 596px;
      @include media(lg) {
        position: absolute;
        left: 10%;
        width: 270px;
        height: 375px;
      }
      @include media(sm) {
        position: absolute;
        left: 0;
        width: 110px;
        height: 150px;
      }
    }

    &-two {
      position: absolute;
      bottom: 10%;
      right: 10%;
      width: 892px;
      height: 712px;

      @include media(lg) {
        right: 10%;
        width: 600px;
        height: 478px;
      }
      @include media(sm) {
        top: 25%;
        right: 20%;
        width: 305px;
        height: 255px;
      }
      @media (max-width: 420px) {
        right: -5%;
        width: 305px;
        height: 255px;
      }
    }

    &-three {
      position: absolute;
      right: 7%;
      top: 6%;
      width: 420px;
      height: 360px;

      @include media(lg) {
        top: 60%;
        width: 280px;
        height: 239px;
      }

      @include media(sm) {
        top: 68%;
        right: 5%;
        width: 141px;
        height: 120px;
      }
    }
  }
  &__third {
    &-text {
      position: absolute;
      bottom: 0;
      left: 3%;
      width: 585px;
      color: var(--white-color);
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      z-index: 2;
      height: min-content;

      @include media(xl) {
        right: 0;
      }

      @include media(lg) {
        top: 75%;
        right: 15%;
        z-index: 3;
        text-align: center;
      }

      @include media(md) {
        font-size: 16px;
        line-height: 20px;
        width: 29ch;
      }

      @include media(sm) {
        width: 28ch;
        top: 79%;
        right: 25%;
      }

      @media (max-width: 420px) {
        right: -5%;
      }
    }
    &-one {
      position: absolute;
      top: 13%;
      z-index: 2;
      width: 660px;
      height: 750px;

      @include media(lg) {
        left: 0;
        width: 420px;
        height: 477px;
      }
      @include media(sm) {
        position: absolute;
        left: 0;
        width: 200px;
        height: 230px;
      }
    }

    &-two {
      position: absolute;
      right: 17.5%;
      width: 660px;
      height: 750px;

      @include media(lg) {
        right: 20%;
        width: 420px;
        height: 477px;
      }
      @include media(sm) {
        top: 28%;
        right: 20%;
        z-index: 3;
        width: 200px;
        height: 230px;
      }
      @media (max-width: 420px) {
        right: 0;
        width: 200px;
        height: 230px;
      }
    }

    &-three {
      position: absolute;
      right: 7%;
      top: 59%;
      width: 327px;
      height: 456px;

      @include media(lg) {
        top: 50%;
        width: 220px;
        height: 306px;
      }

      @include media(sm) {
        top: 53%;
        right: 50%;
        z-index: 4;
        width: 111px;
        height: 151px;
      }
    }
  }
  &__fourth {
    &-text {
      position: absolute;
      bottom: 10%;
      right: 10%;
      width: 426px;
      height: 96px;
      color: var(--white-color);
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      z-index: 3;

      @include media(xl) {
        right: 0;
      }

      @include media(lg) {
        top: 85%;
        right: 15%;
        z-index: 3;
        text-align: center;
      }

      @include media(md) {
        font-size: 16px;
        line-height: 20px;
        top: 90%;
      }

      @include media(sm) {
        width: 23ch;
        top: 85%;
        right: 25%;
      }

      @media (max-width: 420px) {
        top: 85%;
        right: 15%;
      }
    }
    &-one {
      position: absolute;
      top: 35%;
      z-index: 2;
      width: 660px;
      height: 750px;

      @include media(lg) {
        position: absolute;
        left: 10%;
        width: 420px;
        height: 477px;
      }
      @include media(sm) {
        position: absolute;
        left: 20%;
        width: 200px;
        height: 230px;
      }

      @media (max-width: 420px) {
        left: 0;
        top: 37%;
        width: 200px;
        height: 230px;
      }
    }

    &-two {
      position: absolute;
      top: 14%;
      right: 7%;
      width: 660px;
      height: 750px;

      @include media(lg) {
        right: 10%;
        width: 420px;
        height: 477px;
      }
      @include media(sm) {
        top: 20%;
        right: 20%;
        width: 200px;
        height: 230px;
      }
      @media (max-width: 420px) {
        right: 1%;
        width: 200px;
        height: 230px;
      }
    }
  }
}

[data-fancybox-close] {
  margin: 24px;
}

.fancybox__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.f-button.is-prev {
  padding: 10px;

  @include media(lg) {
    display: none;
  }
}

.f-button.is-next {
  padding: 10px;

  @include media(lg) {
    display: none;
  }
}
