@use '../utils/mixins' as *;

.gallery-grid {
  @include media(md) {
    gap: 16px;
  }

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  &__item {
    @include media(md) {
      grid-column: span 2;
    }

    grid-column: span 1;

    &:nth-child(1) {
      @include media(md) {
        grid-column: span 4;
        grid-row: auto;
      }

      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(2) {
      @include media(md) {
        grid-column: span 2;
      }

      grid-row: span 2;
    }

    &:nth-child(3) {
      @include media(md) {
        grid-column: span 2;
      }
    }

    &:nth-child(4) {
      @include media(md) {
        grid-column: span 2;
      }
    }

    &:nth-child(5) {
      @include media(md) {
        grid-column: span 4;
      }

      grid-column: span 2;
    }

    &:nth-child(7) {
      @include media(md) {
        order: 5;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
