@use '../utils/mixins' as *;

.gesamte-keyfacts {
  font-family: 'Lora', sans-serif;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading,
  &__desc {
    max-width: 842px;
    width: 100%;
  }

  &__heading {
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;

    @include media(md) {
      font-size: 32px;
    }
  }
  &__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 60px;

    @include media(md) {
      font-size: 16px;
      margin-bottom: 32px;
    }
  }
  &__heading-yellow {
    color: #9b8164;
  }

  &__ul {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: #9b8164;
    border-radius: 24px;
    padding: 40px 20px;
    max-width: 1290px;
    width: 100%;

    @include media(md) {
      flex-direction: column;
      padding: 16px 12px;
      gap: 0;
    }
  }

  &__li {
    max-width: 306px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:last-child)::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 64px;
      background-color: #b9a185;
    }

    &:not(:first-child) {
      padding-left: 32px;
    }

    &:not(:last-child) {
      padding-right: 32px;
    }

    @media (max-width: 768px) {
      gap: 8px;
      width: 100%;
      max-width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid #b9a185;

        &::after {
          display: none;
        }
      }

      &:not(:first-child) {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 0;
      }

      &:not(:first-child) {
        padding-top: 24px;
      }

      &:not(:last-child) {
        padding-bottom: 24px;
      }
    }
  }

  &__li-title {
    font-size: 16px;
    line-height: 150%;
    color: #d9c1a7;
  }
  &__li-desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;

    @include media(md) {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
