@use '../utils/mixins' as *;

.index-info {
  max-width: 840px;
  margin: auto;

  &__title {
    @include media(md) {
      margin-bottom: 24px;
      font-size: rem(32px);
    }

    margin-bottom: 32px;
    font-size: rem(40px);
    text-align: center;

    span {
      color: var(--gold-color);
    }
  }

  &__desc {
    font-weight: 300;
    line-height: 150%;
    text-align: center;
  }
}
