.lang {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    display: flex;
    gap: 8px;
    align-items: center;

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }

    img {
      overflow: hidden;

      width: 24px;
      height: 24px;

      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__content {
    position: absolute;
    top: 100%;

    display: none;
    flex-direction: column;
    align-items: center;

    width: 130px;
    margin-top: 12px;

    border: 1px solid #2a373e;
    border-radius: 4px;

    &.active {
      display: flex;
    }
  }

  &__item {
    width: 100%;
    background: var(--black-200);
    border-bottom: 1px solid #2a373e;

    &:hover {
      background: var(--black-300);
    }

    &:last-child {
      border: none;
    }
  }

  &__link {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 14px 16px;
  }
}
