@use '../utils/mixins' as *;

.logo {
  width: 72px;
  height: 72px;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__src {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
