@use '../utils/mixins' as *;

.main-form {
  --form-gap: 20px;

  &__item {
    position: relative;
    margin-bottom: 24px;
    padding: var(--form-gap) 0;
    border-bottom: 1px solid rgb(255 255 255 / 20%);

    &--textarea {
      height: 125px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__label {
    position: absolute;
    top: var(--form-gap);
    left: 0;

    opacity: 0.4;

    transition: 0.5s;
  }

  &__input {
    width: 100%;
    height: 100%;

    &--file {
      position: absolute;

      overflow: hidden;

      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;

      white-space: nowrap;

      clip: rect(0 0 0 0);
      clip-path: inset(100%);
      border: 0;
    }

    &:not(:placeholder-shown),
    &:focus {
      outline: none;

      ~ .main-form__label {
        top: 0;
        font-size: rem(10px);
      }
    }
  }

  &__label-file-text {
    opacity: 0.4;
  }

  &__label-file {
    display: flex;
    justify-content: space-between;

    &.has-files {
      .main-form__label-file-text {
        display: none;
      }
    }
  }

  &__file-placeholder {
    position: absolute;
    top: var(--form-gap);
    right: 0;
  }

  &__checkbox {
    margin-top: 40px;
  }

  &__submit {
    @include media(md) {
      width: 100%;
    }

    margin-top: 32px;
    padding: 19px 37px;
  }
}

.attached-files {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 90%;

  &__item {
    display: inline-flex;
    align-items: center;

    padding: 4px 8px;

    font-size: 14px;
    color: var(--headline);

    background: var(--black-50);
    border-radius: 8px;
  }

  &__remove {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}
