@use '../utils/mixins' as *;

.sub-menu {
  min-width: 250px;
  padding: 1rem;

  &__item {
    margin-bottom: 12px;
    font-size: rem(14px);
    white-space: nowrap;
  }

  &__link {
    opacity: 0.8;
    transition: opacity 0.5s, color 0.5s;

    &:hover {
      color: var(--gold-color);
      opacity: 1;
    }
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }

  &__item {
    margin-right: 24px;
    font-size: rem(14px);

    &--has-sub {
      position: relative;
      display: flex;
      align-items: center;

      &::after {
        content: '';

        width: 12px;
        height: 12px;
        margin-left: 8px;

        background: url(../assets/images/caret.svg);
        background-repeat: no-repeat;
        background-size: contain;

        transition: transform 0.5s;
      }

      &:hover {
        &::after {
          transform: rotate(180deg);
        }

        .sub-menu {
          display: block;
        }
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    opacity: 0.8;
    transition: opacity 0.5s, color 0.5s;

    &:hover {
      color: var(--gold-color);
      opacity: 1;
    }
  }
}
