@use '../utils/mixins' as *;

.page-content {
  max-width: 745px;

  section {
    @include media(md) {
      margin-bottom: 60px;
    }

    margin-bottom: 100px;

    &:last-child {
      margin: 0;
    }
  }

  h2 {
    @include media(md) {
      font-size: rem(32px);
    }

    margin-bottom: 32px;
    font-size: rem(40px);
  }

  ul {
    li {
      position: relative;

      display: flex;

      margin-bottom: 16px;

      font-weight: 300;
      line-height: 150%;

      &::before {
        content: '';

        position: relative;
        top: 8px;

        display: block;

        width: 12px;
        height: 1px;
        margin-right: 12px;

        background: #606a71;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
