@use '../utils/mixins' as *;

.reels {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 100px;

  @include media(lg) {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 40px;
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    flex: 1;

    @include media(lg) {
      width: 100%;
    }

    &-title {
      color: var(--white-color);
      font-size: 100px;
      font-style: normal;
      font-weight: 400;
      line-height: 100px;
      opacity: 0.6;

      @include media(lg) {
        font-size: 40px;
        text-align: center;
        line-height: 40px;
      }
    }

    &-desc {
      max-width: 37ch;
      color: var(--white-color);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;

      @include media(lg) {
        max-width: none;
      }

      @include media(lg) {
        font-size: 16px;
        text-align: center;
        line-height: 20px;
      }
    }
  }

  &__gallery {
    max-width: 550px;
    min-width: 1px;
    padding-inline: 2rem;

    @include media(lg) {
      min-width: 100%;
    }
  }

  &__video {
    width: 427px;
    height: 759px;

    @include media(md) {
      width: 300px;
      height: 534px;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  & > picture {
    @media (min-width: 576px) and (max-width: 1025px) {
      width: 50%;
    }

    @media (max-width: 575px) {
      width: 80%;
    }
  }
}

.slider-navigation--reels {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 28px;
  margin-right: 130px;

  @include media(lg) {
    margin-right: 0;
    justify-content: center;
  }

  &__btn {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

.swiper-slide-shadow {
  display: none;
}
