@use '../utils/mixins' as *;

.reviews {
  overflow: visible;

  &__item {
    @include media(md) {
      border-right: 1px solid rgb(255 255 255 / 20%);
    }

    display: flex;
    flex-direction: column;

    height: auto;
    padding: 12px 30px;

    border-left: 1px solid rgb(255 255 255 / 20%);
  }

  &__desc {
    line-height: 140%;
  }

  &__score {
    margin-top: 16px;
    margin-bottom: 40px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &__link {
    transition: transform 0.5s;

    &:hover {
      transform: translateX(4px);
    }
  }

  &__navigation {
    justify-content: flex-end;
    margin-top: 72px;
  }

  &__logo {
    width: 95px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.reviews-score {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
  }

  &__title {
    margin-right: 8px;
    font-weight: 500;
    letter-spacing: 0.01em;
    opacity: 0.5;
  }

  &__value {
    font-weight: 500;
  }
}
