@use '../utils/mixins' as *;

.section-heading {
  @include media(md) {
    margin: 0 auto 40px;
  }

  max-width: 650px;
  margin: 0 auto 60px;

  &--left {
    @include media(md) {
      margin: 0 auto 40px 0;
    }

    margin: 0 auto 60px 0;
  }

  &__title {
    @include media(md) {
      font-size: rem(32px);
    }

    font-size: rem(40px);
    line-height: 125%;
  }
}
