@use '../utils/mixins' as *;

.slider-navigation {
  $this: &;

  display: flex;
  align-items: center;

  &--hero {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: space-between;

    #{$this}__prev,
    #{$this}__next {
      @include media(md) {
        display: none;
      }

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 56px;
      height: 56px;

      background: var(--background);
      backdrop-filter: blur(4px);
      border: 1px solid rgb(255 255 255 / 20%);
      border-radius: 50%;

      transition: background 0.25s;

      &:hover {
        background: var(--gold-color);

        svg {
          opacity: 1;
        }
      }

      svg {
        opacity: 0.5;
      }
    }
  }

  &__btn {
    &--disabled {
      opacity: 0.7;
    }
  }

  &__pagination {
    margin: 0 28px;
  }
}

.slider-pagination {
  .swiper-pagination-total {
    opacity: 0.5;
  }
}
