@use '../utils/mixins' as *;

.tabs-control {
  @include media(lg) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include media(sm) {
    overflow: auto;
  }

  position: sticky;
  z-index: 999;
  top: var(--header-top-gap);
  left: 0;

  padding-top: 40px;
  padding-bottom: 40px;

  background: #0c1921;
  border-top: 1px solid #22313b;
  border-bottom: 1px solid #22313b;

  transition: 0.5s;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    @include media(md) {
      padding: 10px 20px;
    }
    @include media(sm) {
      white-space: nowrap;
    }

    display: block;
    padding: 12px 20px;
  }

  &__item {
    @include media(lg) {
      font-size: rem(14px);
    }

    flex: 1;

    margin-right: 12px;

    text-align: center;

    background: rgb(255 255 255 / 12%);

    transition: 0.25s;

    &[aria-selected='true'] {
      color: var(--black-200);
      background: var(--white-color);
    }

    &:last-child {
      margin: 0;
    }
  }
}
