@use '../utils/mixins' as *;

.vacancy-list {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  &__image {
    @include media(md) {
      height: 200px;
    }

    width: 100%;
    height: 240px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    background: var(--black-400);
    transition: background 0.5s;

    &:hover {
      background: var(--black-150);
    }
  }

  &__info {
    padding: 30px;
  }

  &__title {
    @include media(md) {
      font-size: rem(20px);
    }

    margin-bottom: 12px;
    font-size: rem(24px);
  }

  &__desc {
    font-weight: 300;
  }

  &__link {
    @include media(md) {
      margin-top: 32px;
    }

    display: inline-flex;
    margin-top: 45px;
    line-height: 140%;
    border-bottom: 1px solid var(--gold-color);
  }
}
