// vendor
@use 'vendor/reset';

// @use 'vendor/normalize';

// utils
@use 'utils/vars';
@use 'utils/mixins';
@use 'utils/fonts';

// modules
@use 'modules/buttons';
@use 'modules/inputs';
@use 'modules/keyframes';

// layout
@use 'layout/base';
@use 'layout/header';
@use 'layout/footer';

// pages

// blocks
@use 'blocks/logo';
@use 'blocks/nav';
@use 'blocks/hero';
@use 'blocks/archon-nav';
@use 'blocks/features';
@use 'blocks/section-heading';
@use 'blocks/facts';
@use 'blocks/video';
@use 'blocks/vacancy';
@use 'blocks/vacancy-form';
@use 'blocks/recruiter';
@use 'blocks/contacts-list';
@use 'blocks/main-form';
@use 'blocks/checkbox';
@use 'blocks/content-block';
@use 'blocks/cta';
@use 'blocks/cta-form';
@use 'blocks/post-hero';
@use 'blocks/page-content';
@use 'blocks/mobile-nav';
@use 'blocks/button-group';
@use 'blocks/index-info';
@use 'blocks/chess-grid';
@use 'blocks/cta-booking';
@use 'blocks/gallery-grid';
@use 'blocks/reviews';
@use 'blocks/slider-navigation';
@use 'blocks/accordion';
@use 'blocks/tabs-control';
@use 'blocks/menu';
