extends ../layouts/main

block content
  - locals.heroVideo = true
  - locals.heroIndex = true
  include ../blocks/amkai-club-hero
  include ../blocks/amkai-club-location
  include ../blocks/amkai-club-grid
  include ../blocks/equipment
  include ../blocks/about
  include ../blocks/request-form
  include ../blocks/accordion
  include ../blocks/cta