extends ../layouts/main

block content

  include ../blocks/hero
  include ../blocks/amkai-club-location
  include ../blocks/amkai-club-grid
  include ../blocks/equipment
  include ../blocks/about
  include ../blocks/request-form
  include ../blocks/accordion
  include ../blocks/cta