extends ../layouts/main

block content 
 include ../blocks/hero
 include ../blocks/location-event.pug
 include ../blocks/reviews
 include ../blocks/request-form
 include ../blocks/accordion
 include ../blocks/cta