extends ../layouts/main

block content

  include ../blocks/hero
  include ../blocks/gesamte-keyfacts
  include ../blocks/gesamte-grid
  include ../blocks/gesamte-location
  include ../blocks/gesamte-companies
  include ../blocks/request-form
  include ../blocks/accordion
  include ../blocks/cta