
extends ../layouts/main

block content
  - locals.heroVideo = true
  - locals.heroIndex = true
  include ../blocks/hero
  include ../blocks/index-info
  include ../blocks/chess-grid 
  include ../blocks/cta-booking
  include ../blocks/gallery-grid
  include ../blocks/reviews
  include ../blocks/accordion
  include ../blocks/cta