
extends ../layouts/main

block content

  include ../blocks/hero-secondary
  section.section-menu
    .tabs-control.container(role='tablist')
      .tabs-control__inner
        button.tabs-control__item(type='button' role='tab' aria-selected='true' aria-controls='Dinnerkarte')
          span.tabs-control__text Dinnerkarte
        button.tabs-control__item(type='button' role='tab' aria-selected='true' aria-controls='Barkarte')
          span.tabs-control__text Barkarte
        button.tabs-control__item(type='button' role='tab' aria-selected='true' aria-controls='Weinkarte')
          span.tabs-control__text Weinkarte
    #Dinnerkarte.tabs-panel.container(role='tabpanel' tabindex='0' aria-labelledby='Dinnerkarte')
      .menu
        .menu-section
          .menu__title-wrapper 
            h2.menu__title
              span  DEGUSTATIONS MENÜ
            p.menu__subdescription 5 Gänge (ohne Entenleber) 109,- / 6 Gänge 129,- / nur tischweise buchbar bis 20:30 Uhr Inklusive Amuse Gueule & Freshmaker
          .menu-grid.menu-grid--1-col.menu-grid--center.menu-grid--fish-background
            each val in [1,2,3,4,5,6]
              .menu-grid__item.menu-item.menu-item--no-padding
                .menu-item__heading.menu-item__heading--center
                  h3.menu-item__name ROTBARBE „GEFLÄMMT“
                .menu-grid__ingredients.menu-ingredients
                  span.menu-ingredients__item Tequila/
                  span.menu-ingredients__item Mezcal/
                  span.menu-ingredients__item Mango/
                  span.menu-ingredients__item Lime/
        .menu-section 
          .menu__title-wrapper
            h2.menu__title
              span  Aperitif
          .menu-grid
            each val in [1,2,3,4,5]
              .menu-grid__item.menu-item
                .menu-item__heading 
                  h3.menu-item__name Spicy Mango Marcherita
                  span.menu-item__separator
                  p.menu-item__price 14,-
                .menu-grid__ingredients.menu-ingredients
                  span.menu-ingredients__item Tequila
                  span.menu-ingredients__item.menu-ingredients__item--additional-info Mezcal
                    .menu-ingredients__icon
                      svg(width='16' height='16')
                        use(href='sprite.svg#question_sprite')
                      span.menu-tooltip.menu-ingredients__tooltip Fermented korean spice paste
                  span.menu-ingredients__item Mango
                  span.menu-ingredients__item Lime
                  span.menu-ingredients__item Tajin
            .menu-grid__item.menu-item.menu-item--vegan
              .menu-item__vegan-wrapper 
                svg(width='20px' height='20px')
                  use(href='sprite.svg#vegan_sprite')
                .menu-item__vegan-col
                  .menu-item__heading 
                    h3.menu-item__name Brot
                    span.menu-item__separator
                    p.menu-item__price 14,-
                  .menu-grid__ingredients.menu-ingredients
                    span.menu-ingredients__item Tequila/
                    span.menu-ingredients__item Mezcal/
                    span.menu-ingredients__item Mango/
                    span.menu-ingredients__item Lime/
                    span.menu-ingredients__item Tajin
        .menu-section 
          .menu__title-wrapper
            h2.menu__title
              span  Sparkling & Wine
          .menu-grid
            each val in [1,2,3,4]
              .menu-grid__item.menu-item
                .menu-item__heading 
                  h3.menu-item__name Spicy Mango Marcherita
                  span.menu-item__separator
                  p.menu-item__price 14,-
                .menu-grid__ingredients.menu-ingredients
                  span.menu-ingredients__item Tequila/
                  span.menu-ingredients__item Mezcal/
                  span.menu-ingredients__item Mango/
                  span.menu-ingredients__item Lime/
                  span.menu-ingredients__item Tajin
            .menu-grid__item.menu-item
              .menu-item__heading 
                h3.menu-item__name Oyster Geay Special No. 1 Natural
              .menu-grid__ingredients.menu-ingredients
                span.menu-ingredients__item Tequila/
                span.menu-ingredients__item Mezcal/
                span.menu-ingredients__item Mango/
                span.menu-ingredients__item Lime/
                span.menu-ingredients__item Tajin
              .menu-item__variations.menu-variations 
                .menu-variations__item.menu-item__heading 
                  h3.menu-item__name 6 pcs.
                  span.menu-item__separator
                  p.menu-item__price 34,-
                .menu-variations__item.menu-item__heading 
                  h3.menu-item__name 6 pcs.
                  span.menu-item__separator
                  p.menu-item__price 34,-
            .menu-grid__item.menu-item
              .menu-item__heading 
                h3.menu-item__name Spicy Mango Marcherita
                span.menu-item__separator
                p.menu-item__price 14,-
              .menu-grid__ingredients.menu-ingredients
                span.menu-ingredients__item Tequila/
                span.menu-ingredients__item Mezcal/
                span.menu-ingredients__item Mango/
                span.menu-ingredients__item Lime/
                span.menu-ingredients__item Tajin
        .menu-wrapper.menu-section
          .menu-section__inner
            .menu__title-wrapper
              h2.menu__title
                span  Sparkling & Wine2
            .menu-grid.menu-grid--1-col
              each val in [1,2,3,4]
                .menu-grid__item.menu-item
                  .menu-item__heading 
                    h3.menu-item__name Spicy Mango Marcherita
                    span.menu-item__separator
                    p.menu-item__price 14,-
                  .menu-grid__ingredients.menu-ingredients
                    span.menu-ingredients__item Tequila/
                    span.menu-ingredients__item Mezcal/
                    span.menu-ingredients__item Mango/
                    span.menu-ingredients__item Lime/
                    span.menu-ingredients__item Tajin
              .menu-grid__item.menu-item
                .menu-item__heading 
                  h3.menu-item__name Oyster Geay Special No. 1 Natural
                .menu-grid__ingredients.menu-ingredients
                  span.menu-ingredients__item Tequila/
                  span.menu-ingredients__item Mezcal/
                  span.menu-ingredients__item Mango/
                  span.menu-ingredients__item Lime/
                  span.menu-ingredients__item Tajin
                .menu-item__variations.menu-variations 
                  .menu-variations__item.menu-item__heading 
                    h3.menu-item__name 6 pcs.
                    span.menu-item__separator
                    p.menu-item__price 34,-
                  .menu-variations__item.menu-item__heading 
                    h3.menu-item__name 6 pcs.
                    span.menu-item__separator
                    p.menu-item__price 34,-
              .menu-grid__item.menu-item
                .menu-item__heading 
                  h3.menu-item__name Spicy Mango Marcherita
                  span.menu-item__separator
                  p.menu-item__price 14,-
                .menu-grid__ingredients.menu-ingredients
                  span.menu-ingredients__item Tequila/
                  span.menu-ingredients__item Mezcal/
                  span.menu-ingredients__item Mango/
                  span.menu-ingredients__item Lime/
                  span.menu-ingredients__item Tajin
          .menu-sidebar
            .menu-sidebar__heading
              h4.menu-sidebar__title 5 GANG <br> DEGUSTATION MENU
              .menu-sidebar__info 
                span.menu-sidebar__info-text (Nur für den ganzen Tisch verfügbar)
                span.menu-sidebar__price 89 ,-
            .menu-sidebar__content
              each val in [1,2,3,4]
                .menu-sidebar__item.menu-item
                  .menu-item__heading 
                    h3.menu-item__name Spicy Mango Marcherita
                  .menu-grid__ingredients.menu-ingredients
                    span.menu-ingredients__item Tequila/
                    span.menu-ingredients__item Mezcal/
                    span.menu-ingredients__item Mango/
                    span.menu-ingredients__item Lime/
                    span.menu-ingredients__item Tajin
              .menu-sidebar__bonus.menu-bonus 
                h5.menu-bonus__heading + Amuse-bouche
                p.menu-bonus__content nach Ermessen des Chefkochs

        .menu-section 
          .menu__title-wrapper
            h2.menu__title
              span  ZUM TEILEN
            .menu__subtitle
              svg(width='20' height='20')
                use(href='sprite.svg#jk_sprite')
              | INKLUSIVE BEILAGEN
          .menu-grid
            each val in [1,2,3,4]
              .menu-grid__item.menu-item
                .menu-item__heading 
                  h3.menu-item__name Spicy Mango Marcherita
                  span.menu-item__separator
                  p.menu-item__price 14,-
                .menu-grid__ingredients.menu-ingredients
                  span.menu-ingredients__item Tequila/
                  span.menu-ingredients__item Mezcal/
                  span.menu-ingredients__item Mango/
                  span.menu-ingredients__item Lime/
                  span.menu-ingredients__item Tajin
            .menu-grid__item.menu-item
              .menu-item__heading 
                h3.menu-item__name Oyster Geay Special No. 1 Natural
              .menu-grid__ingredients.menu-ingredients
                span.menu-ingredients__item Tequila/
                span.menu-ingredients__item Mezcal/
                span.menu-ingredients__item Mango/
                span.menu-ingredients__item Lime/
                span.menu-ingredients__item Tajin
              .menu-item__variations.menu-variations 
                .menu-variations__item.menu-item__heading 
                  h3.menu-item__name 6 pcs.
                  span.menu-item__separator
                  p.menu-item__price 34,-
                .menu-variations__item.menu-item__heading 
                  h3.menu-item__name 6 pcs.
                  span.menu-item__separator
                  p.menu-item__price 34,-
            .menu-grid__item.menu-item
              .menu-item__heading 
                h3.menu-item__name Spicy Mango Marcherita
                span.menu-item__separator
                p.menu-item__price 14,-
              .menu-grid__ingredients.menu-ingredients
                span.menu-ingredients__item Tequila/
                span.menu-ingredients__item Mezcal/
                span.menu-ingredients__item Mango/
                span.menu-ingredients__item Lime/
                span.menu-ingredients__item Tajin
        .menu-section 
          .menu__title-wrapper
            h2.menu__title.menu__title--filled
              span  VEGAN & VEGETARISCH
          .menu-submenu
            h3.menu-submenu__title VORSPEISEN
            .menu-grid.menu-grid--2-col
              each val in [1,2,3,4]
                .menu-grid__item.menu-item
                  .menu-item__heading 
                    h3.menu-item__name Spicy Mango Marcherita
                    span.menu-item__separator
                    p.menu-item__price 14,-
                  .menu-grid__ingredients.menu-ingredients
                    span.menu-ingredients__item Tequila/
                    span.menu-ingredients__item Mezcal/
                    span.menu-ingredients__item Mango/
                    span.menu-ingredients__item Lime/
                    span.menu-ingredients__item Tajin
                  .menu-item__variations.menu-variations 
                    .menu-variations__item.menu-item__heading 
                      h3.menu-item__name Upgrade + Frischen Trüffel
                      span.menu-item__separator
                      p.menu-item__price 34,-
                  .menu-grid__vegan-icons.menu-vegan-icons 
                    .menu-vegan-icons__item
                      img(src=require('@/images/carrot.svg'), alt="")
                    .menu-vegan-icons__item
                      img(src=require('@/images/salate.svg'), alt="")
          .menu-submenu
            h3.menu-submenu__title HAUPTSPEISEN
            .menu-grid
              each val in [1,2,3]
                .menu-grid__item.menu-item
                  .menu-item__heading 
                    h3.menu-item__name Spicy Mango Marcherita
                    span.menu-item__separator
                    p.menu-item__price 14,-
                  .menu-grid__ingredients.menu-ingredients
                    span.menu-ingredients__item Tequila/
                    span.menu-ingredients__item Mezcal/
                    span.menu-ingredients__item Mango/
                    span.menu-ingredients__item Lime/
                    span.menu-ingredients__item Tajin
                  .menu-grid__vegan-icons.menu-vegan-icons 
                    .menu-vegan-icons__item
                      img(src=require('@/images/carrot.svg'), alt="")
                    .menu-vegan-icons__item
                      img(src=require('@/images/salate.svg'), alt="")
  include ../blocks/cta-booking
  include ../blocks/cta
