extends ../layouts/main

block content

    include ../blocks/hero-restaurant
    include ../blocks/facts-restaurant
    include ../blocks/desc-restaurant
    include ../blocks/impressionen-restaurant
    include ../blocks/menu-restaurant
    include ../blocks/owner-quote
    include ../blocks/cta-restaurant
    include ../blocks/reviews-restaurant