extends ../layouts/main

block content
  - locals.heroVideo = true
  - locals.heroIndex = true
  include ../blocks/separee-hero
  include ../blocks/gesamte-keyfacts
  include ../blocks/separee-grid
  include ../blocks/reviews
  include ../blocks/request-form
  include ../blocks/accordion
  include ../blocks/cta