
extends ../layouts/main

block content
  include ../blocks/hero
  include ../blocks/archon-nav
  include ../blocks/features
  include ../blocks/facts
  include ../blocks/video
  include ../blocks/vacancy
  include ../blocks/vacancy-form
  include ../blocks/content-block
  include ../blocks/cta